// 表单展示
@import './self-form.scss';
// 样式复写
@import './self-style.scss';
// 引入变量
@import './variables.scss';

* {
  outline: none;
}

button,
input,
select,
pre,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

#nprogress .bar {
  background: $--color-primary;
}