.form-detail {
  label {
    color: #606266;
  }
  .form-half {
    width: 50%;
    display: inline-block;
  }
}

.iep-page-form .el-form {
  margin-right: 16%;
  margin-top: 30px;
}

.iep-sub-title {
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 40px;
}

.iep-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iep-contact-dropdown {
  z-index: 3000;
}

.el-slider__button-wrapper {
  z-index: 100;
}
.iep-froala-indent {
  text-indent: 2em;
}
