.el-checkbox__inner {
  width: 17px;
  height: 17px;

  &:hover {
    border-color: #999;
  }

  &::after {
    height: 10px;
    left: 6px;
    border-color: #999;
  }
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  top: 7px;
  background-color: #999;
}

.el-radio__inner {
  width: 18px;
  height: 18px;

  &:hover {
    border-color: #999;
  }

  &::after {
    width: 5px;
    height: 5px;
    background-color: #999;
    border-color: #999;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner,
.el-checkbox__input.is-focus .el-checkbox__inner,
.el-radio__input.is-checked .el-radio__inner {
  border-color: #999;
  background-color: #fff;
}

.el-loading-mask {
  z-index: 99;
}

.ant-tag {
  margin-bottom: 5px;
}

.el-checkbox__input.is-checked+.el-checkbox__label,
.el-checkbox__input.is-checked+.el-checkbox__label,
.el-radio__input.is-checked+.el-radio__label {
  color: #606266;
}

.el-carousel__arrow {
  top: 50%;
}

.el-image {
  width: 100%;
  height: 100%;
}

.el-carousel__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.el-carousel__indicator.is-active button {
  border-radius: 20px;
  width: 30px;
}

.el-tooltip__popper.is-dark {
  max-width: 290px;
  line-height: 24px;
  text-align: justify;
}

.el-input--small .el-input__icon {
  line-height: 34px;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  color: #BA1B21;
  background: #f8e8e9;
  border-color: #e3a4a6;
}