.form-detail {
  label {
    color: #606266;
  }
  .form-half {
    width: 50%;
    display: inline-block;
  }
  .el-select,
  .el-date-editor,
  .el-input-number,
  .el-cascader {
    width: 100%;
  }
}

.iep-page-form .el-form {
  margin-right: 16%;
  margin-top: 30px;
}

.iep-sub-title {
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: 40px;
}

.iep-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.iep-contact-dropdown {
  z-index: 3000;
}

.el-slider__button-wrapper {
  z-index: 100;
}
.iep-froala-indent {
  text-indent: 2em;
}
